[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
requests = "*"
newsapi-python = "*"
"newspaper3k" = {git = "git://github.com/Briscoooe/newspaper"}
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "3.6"
